llama-cpp-python
llama-cpp-agent
newspaper4k
httpx
beautifulsoup4
pydantic
aiogram
telethon
python-dotenv
chromadb
pytest
pytest-mock
pytest-asyncio
exa_py
pika
aio-pika
openrouter
requests
pyyaml
apscheduler
aiofiles
gspread
oauth2client
aiofiles
aiosqlite
